<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<jmxConfigurator />
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="com.accenture" level="DEBUG" />
	<logger name="com.connectedworldservices" level="DEBUG" />
	<logger name="com.netflix.zuul.http" level="ERROR" />
	<logger name="org.springframework.data.mongodb" level="DEBUG" />
</configuration>
