<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator name="rest_eval">
				<matcher>
					<Name>url</Name>
					<regex>/tests/*|/journeys/*|/environments/*|/imex/*</regex>
					<caseSensitive>false</caseSensitive>
				</matcher>
				<expression>url.matches(event.getRequestURL())</expression>
			</evaluator>
			<OnMatch>ACCEPT</OnMatch>
			<OnMismatch>DENY</OnMismatch>
		</filter>

		<encoder>
			<!-- <pattern>%h %l %u %user %date "%r" %s %b</pattern> -->
			<pattern>%fullRequest%n%n%fullResponse</pattern>
		</encoder>
	</appender>

	<appender-ref ref="STDOUT" />
</configuration>
